html, body {
    margin: 0;
    padding: 0;
    background-color: #ddd;
    box-sizing: border-box;
}

img { 
    width: 150px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:focus {
    outline: none;
}